/* ======================================== mobile only ======================================== */
:root {
  /* bootstrap breakpoints */
  --breakpoint-small: 567px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-extra-large: 1200px;
  
  /* chrome breakpoints */
  --mobile-s: 320px; /* 2010-era devices like the iPhone 4 */
  --mobile-m: 375px; /* small modern devices */
  --mobile-l: 435px; /* average modern flagship phones */
}

/* if on desktop or touch-desktop: simulate mobile view  */
/* see: https://habr.com/en/sandbox/163605/ */
@media (pointer: fine), (pointer: none), ((pointer: fine) and (any-pointer: coarse))  {
  html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: var(--mobile-m);
  }  
}


/* ======================================== global styling ======================================== */
/* hide scrollbar */
*::-webkit-scrollbar {
  display: none !important;
}